<div class="parentContainer">
  <div class="container mayo">
    <div class="flex space-around">
      <!-- <strong><p class="date"><%= @wod.date.strftime("%a, %d %b %Y") %></p></strong> -->
      <p class="date"><%= @wod %></p>
    </div>
    <div class="description">
      <!-- <p><%= simple_format(@wod.description) %></p> -->
      <p class=><%= @wod %></p>
    </div>
  </div>
</div>
