<div class="parentContainer">
  <div class="container mayo">
    <div class="flex space-around">
      <p class="date"><%= @wod %></p>
    </div>
    <div class="description">
      <p class=><%= @wod %></p>
    </div>
  </div>
</div>
