<div class="parentContainer">
  <div class="container mayo">
    <strong><p class="date"><%= @wod.date.strftime("%a, %d %b %Y") %></p></strong>
    <p><%= simple_format(@wod.description) %></p>
  </div>
</div>
